@media (min-width: 320px) and (max-width: 768px) {
    .main {

        &_section1 {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 40px;
            background-image: url(../images/ellipse.svg);

            &_section1-h1 {
                font-family: "DynaPuff", sans-serif;
                font-weight: 700;
                font-size: 36px;
                color: #faeb49;
            }

            &_section-p {
                font-family: "Manrope", sans-serif;
                font-weight: 500;
                font-size: 15px;
                color: #fff;
            }

            &_section-frame {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: row;
                gap: 14px;

                &_section-frame-p {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 5px;

                    font-family: "DynaPuff", sans-serif;
                    font-weight: 700;
                    font-size: 36px;
                    color: #fff;

                    span {
                        font-family: "Manrope", sans-serif;
                        font-weight: 700;
                        font-size: 16px;
                        color: #fff;
                    }
                }
            }
        }

        &_section2 {
            background: #3c3c3c;

            &_project {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                gap: 10px;

                border-radius: 24px;
                padding: 16px;
                width: 343px;
                height: 488px;

                background: #fffef2;

                &_project-img1 {
                    border-radius: 13px;
                    padding: 20px;
                    width: 311px;
                    height: 278px;
                    position: relative;
                }

                &_project-img1::after {
                    position: absolute;
                    border-radius: 100%;
                    fill: #fff;
                    backdrop-filter: blur(10px);
                    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.09);
                    background: url(../images/arrow.svg);
                }

                &_project-h1 {
                    font-family: "DynaPuff", sans-serif;
                    font-weight: 600;
                    font-size: 32px;
                    color: #565656;
                }

                &_project-p {
                    font-family: "Manrope", sans-serif;
                    font-weight: 700;
                    font-size: 15px;
                    color: #000;
                }
            }

            &_save {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                gap: 10px;

                border-radius: 24px;
                padding: 16px;
                width: 343px;
                height: 488px;

                background: #fffef2;

                &_save-img1 {
                    border-radius: 13px;
                    padding: 20px;
                    width: 311px;
                    height: 278px;
                    position: relative;
                }

                &_save-img1::after {
                    position: absolute;
                    border-radius: 100%;
                    fill: #fff;
                    backdrop-filter: blur(10px);
                    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.09);
                    background: url(../images/arrow.svg);
                }

                &_save-h1 {
                    font-family: "DynaPuff", sans-serif;
                    font-weight: 600;
                    font-size: 32px;
                    color: #565656;
                }

                &_save-p {
                    font-family: "Manrope", sans-serif;
                    font-weight: 700;
                    font-size: 15px;
                    color: #000;
                }
            }
        }

        &_section3 {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            background: #202020;

            &_section3-h1 {
                font-family: "DynaPuff", sans-serif;
                font-weight: 700;
                font-size: 36px;
                color: #fff;
            }

            &_section3-img1 {
                border-radius: 40px;
                width: 343px;
                height: 325px;
                position: relative;
                filter: grayscale(100%); 
            }

            &_section3-img1::after {
                background: url(../images/soft-star.svg);
                position: absolute;
            }

            &_section3-img2 {
                border-radius: 40px;
                width: 343px;
                height: 325px;
                position: relative;
                filter: grayscale(100%); 
            }

            &_section3-img2 {
               background: url(../images/butterfly.svg);
               position: absolute;
            }

            &_section3-img3 {
                border-radius: 40px;
                width: 343px;
                height: 325px;
                position: relative;
                filter: grayscale(100%); 
            }

            &_section3-img3 {
                background: url(../images/asteriks.svg);
                position: absolute;
            }
        }

        &_section4 {
            background-image: url(../images/Rectangle\ 8.jpg);
            display: flex;
            justify-content: center;

            &_section4-p {
                font-family: "DynaPuff", sans-serif;
                font-weight: 700;
                font-size: 24px;
                text-align: center;
                color: #fff;
            }
        }
    }
}